body{
	background-color: black;
}
div{
	height: 300px;
	width: 300px;
	border-radius: 50%;
	border: 5px solid black;
	position: relative;
	background: linear-gradient(rgba(73,220,28,0.4),rgba(73,220,28,0.4)),url("clock.png");
	box-shadow: 0 0 10px #49dc1c,
	    0 0 40px #49dc1c,
	    0 0 80px #49dc1c,
	    0 0 160px #49dc1c;
	background-size: cover;
}
span{
	position: absolute;
	transform-origin: left;
}
span:nth-child(1){
	display: block;
	top: 50%;
	left: 50%;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: rgba(9,1,49);
	box-shadow: 0 0 10px #090131,
				0 0 20px #090131;
	transform: translate(-50%,-50%);
	z-index: 1;
}
span:nth-child(2){
	top: 50%;
	left: 50%;
	height: 4px;
	width: 90px;
	background-color: black;
	box-shadow: inset 0px 0px 40px black;
	transform: translateY(-50%);
	border-radius: 3px;
	animation: clock 43200s 0.5s linear infinite both;
}
span:nth-child(3){
	top: 50%;
	left: 50%;
	height: 2px;
	width: 110px;
	background-color: black;
	box-shadow: inset 0px 0px 40px black;
	transform: translateY(-50%);
	border-radius: 1px;
	animation: clock 3600s 0.5s linear infinite both;
}
span:nth-child(4){
	top: 50%;
	left: 50%;
	height: 1px;
	width: 130px;
	background-color: black;
	box-shadow: inset 0px 0px 40px black;
	transform: translateY(-50%);
	border-radius: 1px;
	animation: clock 60s 0.5s linear infinite both;
}
@keyframes clock{
	from{
		transform: rotateZ(-90deg);
	}
	to{
		transform: rotateZ(270deg);
	}
}